*{
    margin: 0;
}

nav{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background-color: #3f48cc;
    color: white;
}

nav a{
    width: 100%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
}

nav a:hover{
    background-color: #676ed6;
}

nav h1{
    width: 100%;
    padding: 10px;
    color: white;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formulario{
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 15px;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario h1{
    width: 100%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 2em;
}

#listado-endpoint-3{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2%;
}

#listado-endpoint-3 button{
    padding: 5px;
    background-color: #3f48cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#listado-endpoint-3 button:hover{
    background-color: #676ed6;
    border: transparent;
    border-radius: 5px;
}


footer{
    position: fixed;
    display: flex;
    width: 100%;
    bottom: 0;
    padding: 10px;    
    background-color: #3f48cc;
    color: white;
}