body{
    background-color: skyblue;
}
.Contenido {
    background-color: rgb(31, 155, 203);    
    margin-top: 0%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.botonaplicar:hover{
    color: purple;
}
.botonaplicar{
    margin-top: 0%;
    max-width: min-content;
    font-size: 90%;
    font-style: italic;
    border-color: red;
    background-color: white;
}

.iframe{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin-top: 0%;
}

.clases,
.Puntos,
.alumnos{
    display: inline-block;
    flex-direction: row;
    max-width: max-content;
    justify-content: space-between;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 5%;
    padding-right: 5%;
}

ul {
    margin-top: 3%;
    text-align: right;
    max-width: fit-content;
    list-style-type: none;
   
}

h1{
    color: white;
    background-color: rgb(138, 138, 255);    
    margin-bottom: 0%;
}

h2,li{
    display: flex;
    color: white;
    align-items: space-around;
    border: 1%;
      
}

html{
    background-color: rgba(48, 230, 123, 0.705);
}

.opcion{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: skyblue;

    
}

